@use './partials/variables.scss' as*;
@use './partials/mixins' as*;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    margin: 0 auto;
}


// colore di una parte di frase
span.color {
    color: $text_red;
}


// frase che contiene anche lo span rosso
div.sentence {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

h6 {
    font-size: 19px;
}

p {
    line-height: 25px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

// stile delle card
.cards {
    @include wrap();
    margin-top: 50px;

    .card {
        width: calc(100% / 3 - 20px);
        margin-right: 20px;
        box-shadow: 10px 10px 15px #f7f4f4,
            -10px 5px 15px #f7f4f4;

        img {
            margin-bottom: 20px;
        }

        h6 {
            margin-bottom: 20px;
            padding: 0 20px;
        }

        p {
            margin-bottom: 40px;
            padding: 0 20px;
        }
    }

}

// classi per titolo e sottotitolo in mainsecond 
h4 {
    text-align: center;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.subtitle {
    text-align: center;
    width: 62%;
    margin-left: 20%;
}